.documents {
  max-width: 90%;
  padding-top: 10px;
  margin: 0 auto;

  &__notice {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
  }

  &__wrap {
    margin-top: 50px;
  }

  &__item {
    display: flex;
    align-items: baseline;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &_idx {
      font-size: 14px;
      margin-right: 5px;
    }

    &_title {
      font-size: 16px;
      margin-right: 10px;
      margin-bottom: 0;
    }

    &_link {
      font-weight: bold;
      font-size: 16px;
      color: #009d9a;

      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}